@model SocialMedia.Models.User

@{
    ViewData["Title"] = "UserProfile";
}

<h1>UserProfile</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Username:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Full name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            Nationality:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @*TODO: If requester already sent request show pending/friend*@
            @*TODO: If addressee accept fr req show addressee posts *@
            
                @*<a asp-action="Accept" asp-route-id="@Model.Id">Accept</a>
                <a asp-action="Reject" asp-route-id="@Model.Id">Reject</a>*@
            
            <a asp-action="SendRequest" asp-route-id="@Model.Id">Send Request</a>
        </dt>
    </dl>
</div>