@model IEnumerable<SocialMedia.Services.User.UserServiceModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Friends recommendations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Full name
            </th>
            <th>
                Nationality
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Country)
            </td>
            <td>
                @Html.ActionLink(
                  "Add Friend", "SendRequest", "Friendships",
                  new { addresseeId = user.Id },
                  new { @class = "btn btn-outline-primary"})
            </td>
            <td>
                @Html.ActionLink("View Profile", "FriendshipStatus",
                    new { userId = user.Id },
                    new { @class = "btn btn-outline-info"})
            </td>
        </tr>
        }
    </tbody>
</table>

