@model SocialMedia.Models.ViewModels.GroupViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Group.Title</h1>

<!--Group information-->
<div class="row">
        <div class="col-sm-4">
            <b>Group @Html.DisplayNameFor(model => model.Group.Description)</b> : 
        </div>
        <div" class="col-sm-8">
            @Html.DisplayFor(model => model.Group.Description)
        </div">
        <div class="col-md-2"><a asp-controller="Groups" asp-action="GroupMembers" asp-route-id="@Model.Group.GroupId">Members</a></div>
        <div class="col-sm-10"></div>
</div>

<hr />

<div class="container">
    @if (Model.Posts.Count == 0)
    {
        <div class="jumbotron">
            <h3>There are no posts in this group yet.</h3>
        </div>
    }
    else
    {
        @foreach (var post in Model.Posts)
        {
            <div class="jumbotron">
                <h3>@post.Post.Author.UserName</h3>
                @if (post.Tagged.Count > 0)
                {
                    <h4>@String.Join(',', post.Tagged)</h4>
                }
                <p>@post.Post.Content</p>
                <span>@post.Post.DatePosted.Date</span>
            </div>
        }
    }
    <!--Group posts-->
</div>