@model SocialMedia.Models.ViewModels.GroupViewModel

@{
    ViewData["Title"] = "Groups";
}

<h1>Groups</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*List all groups where the current user is not a member*@
        @foreach (var item in Model.NonMemberGroups)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="NonGroupMemberDetails" asp-route-id="@item.GroupId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
