@model SocialMedia.Services.Post.PostServiceModel

@{
    ViewData["Title"] = "Delete";
}

<h5>Are you sure you want to delete this post?</h5>
<hr />

<div class="media border p-3" style="margin-bottom: 20px;">
    <img src="img/profile_pic.png" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
        <!-- Post author and posted on-->
        <div class="row">
            <div class="col-md-10">
                @if (Model.Group != null)
                {
                    <h5>@Model.Author.UserName <small><i>Posted in <b>@Model.Group.Title</b> on @Model.DatePosted</i></small></h5>

                }
                else
                {
                    <h5>@Model.Author.UserName <small><i>Posted on @Model.DatePosted</i></small></h5>
                }
            </div>
        </div>
        @if (Model.TaggedFriends != null)
        {
            foreach (var user in Model.TaggedFriends)
            {
                <a href="#" class="badge badge-primary">@user.UserName</a>
            }
        }

        <p style="margin: 15px">
            @Model.Content
        </p>

        <hr style="height:1px;border-width:0;color:skyblue;background-color:skyblue">
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="@Model.PostId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
