@using System.Text
@model SocialMedia.Models.ViewModels.PostTagFriendsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Author.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.DatePosted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.DatePosted)
        </dd>
        @if (Model.Tagged.Count > 0)
        {
            var sb = new StringBuilder();
            foreach (var user in Model.Tagged)
            {
                sb.Append($" {user.UserName},");
            }
            var result = sb.ToString().TrimEnd(',');
        
            <dt class="col-sm-2">
                Tagged friends
            </dt>
            <dd class="col-sm-10">
                @result
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Content)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Post.AuthorId == Model.CurrentUser.Id)
    {
        <a asp-action="Edit" asp-route-id="@Model.Post.PostId">Edit</a> @:|
    }
    <a asp-controller="Comments" asp-action="Index">Comments</a>
</div>
