@using System.Text
@model SocialMedia.Models.ViewModels.PostTagFriendsViewModel

@{
    ViewData["Title"] = "Edit post";
}

<h1>Edit Post</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <!--Post model-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Post.PostId" />
            <input type="hidden" asp-for="@Model.Post.AuthorId" />
            <div class="form-group">
                @*--Tagged users--*@
                @if (Model.Tagged.Count > 0)
                {
                    var sb = new StringBuilder();
                    sb.Append(Model.CurrentUser.UserName + "is with");
                    foreach (var user in Model.Tagged)
                    {
                        sb.Append($" {user.UserName},");
                    }
                    var result = sb.ToString().TrimEnd(',');
                    <label>@result</label>
                }
                else
                {
                    <label>@Model.CurrentUser.UserName</label>
                }
                <input asp-for="@Model.Post.Content" class="form-control" />
                <span asp-validation-for="@Model.Post.Content" class="text-danger"></span>
            </div>

            <!--Tag friends-->
            <div class="col-md-6">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Tag</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Friends</h4>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    @{
                                        if (Model.UserFriends.Count == 0)
                                        {
                                            <li>No more friends.</li>
                                        }
                                        else
                                        {
                                            foreach (var user in Model.UserFriends)
                                            {
                                                <li>
                                                    @* Send ViewModel and taggedId to Posts/TagFriend *@
                                                    @Html.ActionLink(user.UserName, "TagFriend", "Posts", new { taggedId = user.Id, viewName = "Edit" })
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Remove tagged friend-->
            <div class="col-md-6">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Remove tags</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Remove tags</h4>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    @foreach (var user in Model.Tagged)
                                    {
                                        <li>
                                            @Html.ActionLink(user.UserName, "RemoveTaggedFriend", "Posts", new {taggedId = user.Id})
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Submit the form-->
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
