@model SocialMedia.Web.Models.CommentViewModel

@{
    ViewData["Title"] = "Edit comment";
}

<h1>Edit comment</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <!--Comment model-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="@Model.Content" autocomplete="off" id="userInput" class="form-control" />
                <input type="hidden" asp-for="@Model.CommentId" />
                <input type="hidden" asp-for="@Model.TaggedFriends" value="@Model.TaggedFriends" id="taggedUsers" />
                <span asp-validation-for="@Model.Content" class="text-danger"></span>
            </div>
            <!--Tag friends-->
            <div id="searchDropdown" class="dropdown-content" style="display: none;">
                <input id="searchInput" type="text" autocomplete="off" placeholder="Search for user" onkeyup="getUsersByPartName()">
                <div id="results"></div>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" onclick="assignTaggedUsers()" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/tag-friends.js"></script>
}
