@model ICollection<SocialMedia.Models.ViewModels.CommentTagFriendsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Comments</h1>

<p>
    <a asp-action="Create">Add a comment</a>
</p>

<div class="container">
    @if (this.Model.Count == 0)
    {
        <div class="jumbotron">
            <h3>There are no comments for this post yet.</h3>
        </div>
    }
    else
    {
        var comments = Model.OrderByDescending(d => d.Comment.DatePosted);

        @foreach (var commentViewModel in comments)
        {
            <div class="jumbotron">
                <h3>@commentViewModel.Comment.Author.UserName</h3>
                @* Tagged users *@
                @if (commentViewModel.Tagged.Count > 0)
                {
                    <h4>@String.Join(',', commentViewModel.Tagged)</h4>
                }
                <hr />
                <p style="font-size:24px">@commentViewModel.Comment.Content</p>
                <span>@commentViewModel.Comment.DatePosted.Date</span>
                <hr />
                @if (commentViewModel.Comment.Message == "author")
                {
                    <button class="btn btn-info float-left">@Html.ActionLink("Edit", "Edit", "Comments", new { id = commentViewModel.Comment.Id })</button>
                    <button class="btn btn-warning float-right">@Html.ActionLink("Delete", "Delete", "Comments", new { id = commentViewModel.Comment.Id })</button>
                }
            </div>
        }
    }
</div>
