@model SocialMedia.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<style type="text/css">
    .container .posts {
        margin-bottom: 50px;
    }
</style>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <img src="~/img/profile_pic.png" class="rounded" alt="Cinque Terre" width="150" height="150">
            </div>
            <div class="col-md-9">
                <table class="table">
                    <tbody>
                        <tr></tr>
                        <tr>
                            <td><b>@Model.CurrentUser.FullName</b></td>
                            <td><b>@Model.CurrentUser.UserName</b></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>@Model.CurrentUser.Country</td>
                            <td>@Model.CurrentUser.DOB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr class="container" style="height: 1px; border-width: 0; color: skyblue; background-color: skyblue">

<div class="container">
    <ul class="nav" style="margin: 0, auto;">
        <li class="nav-item col-md-3">
            <button class="nav-link btn btn-outline-primary" href="#"><img src="https://img.icons8.com/ultraviolet/40/000000/about.png" />  About </button>
        </li>
        <li class="nav-item col-md-3">
            <button class="nav-link btn btn-outline-primary" href="#"><img src="https://img.icons8.com/ultraviolet/40/000000/small-icons.png" />  Gallery </button>
        </li>
        <li class="nav-item col-md-3">
            <button class="nav-link btn btn-outline-primary" href="#"><img src="https://img.icons8.com/ultraviolet/40/000000/handshake.png" />  Friends </button>
        </li>
        <li class="nav-item col-md-3">
            <button class="nav-link btn btn-outline-primary" href="#"><img src="https://img.icons8.com/ultraviolet/40/000000/groups.png" />  Groups </button>
        </li>
    </ul>
</div>

<hr class="container" style="height:1px;border-width:0;color:skyblue;background-color:skyblue">

<div class="container posts">

    <!-- New Post Btn -->
    @Html.ActionLink("Add Post", "Create", "Posts", new { invokedFrom = "profile page" }, new { @class = "col-md-12 btn btn-outline-primary", @style = "margin: 20px" })

    <!-- Posts -->
    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts.OrderByDescending(d => d.Post.DatePosted))
        {
            <div class="media border p-3" style="margin-bottom: 20px;">
                <img src="img/profile_pic.png" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <!-- Post author and posted on-->
                    <div class="row">
                        <div class="col-md-10">
                            @if (post.Post.Group != null)
                            {
                                <h5>@Model.CurrentUser.UserName <small><i>Posted in <b>@post.Post.Group.Title</b> on @post.Post.DatePosted.Date</i></small></h5>

                            }
                            else
                            {
                                <h5>@Model.CurrentUser.UserName <small><i>Posted on @post.Post.DatePosted.Date</i></small></h5>
                            }
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-outline-primary"><img width="25" height="25" src="https://img.icons8.com/ultraviolet/40/000000/settings.png" /></button>
                        </div>
                    </div>
                    @if (post.Tagged.Count > 0)
                    {
                        foreach (var user in post.Tagged)
                        {
                            <a href="#" class="badge badge-primary">@user.UserName</a>
                        }
                    }


                    <p style="margin: 15px">
                        @post.Post.Content
                    </p>

                    <hr style="height:1px;border-width:0;color:skyblue;background-color:skyblue">

                    <!-- New Comment Btn -->
                    @Html.ActionLink("Add Comment", "Create", "Comments", new { id = post.Post.PostId, invokedFrom = "profile page" }, new { @class = "btn btn-outline-primary" })

                    <hr style="height:1px;border-width:0;color:skyblue;background-color:skyblue">

                    <!-- Comments -->
                    @if (post.Comments.Count > 0)
                    {
                        foreach (var comment in post.Comments.OrderByDescending(d => d.Comment.DatePosted))
                        {
                            <div class="container mt-3">
                                <div class="media border p-3">
                                    <img src="img/profile_pic.png" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                                    <div class="media-body">
                                        <!-- Author and posted date-->
                                        <h6>@comment.Comment.Author.UserName <small><i>Posted on @comment.Comment.DatePosted</i></small></h6>

                                        <!-- Tagged users -->
                                        @if (comment.Tagged.Count > 0)
                                        {
                                            foreach (var user in comment.Tagged)
                                            {
                                                <a href="#" class="badge badge-primary">@user.UserName</a>
                                            }
                                        }

                                        <!-- Content -->
                                        <p>@comment.Comment.Content</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        }
    }
</div>
